<h2>Нова задача</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Додати</button>
</form>

<div>
    <a href="?filter=all" {% if filter_option == 'all' %}style="font-weight: bold;"{% endif %}>Усі</a> |
    <a href="?filter=completed" {% if filter_option == 'completed' %}style="font-weight: bold;"{% endif %}>Виконані</a> |
    <a href="?filter=incomplete" {% if filter_option == 'incomplete' %}style="font-weight: bold;"{% endif %}>Невиконані</a>
  </div>
  

<hr>

<form method="get" style="margin-bottom: 20px;">
    <label for="sort">Сортувати за:</label>
    <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="created" {% if request.GET.sort == "created" %}selected{% endif %}>Датою створення</option>
        <option value="deadline" {% if request.GET.sort == "deadline" %}selected{% endif %}>Дедлайном</option>
        <option value="completed" {% if request.GET.sort == "completed" %}selected{% endif %}>Статус виконання</option>

    </select>
</form>
<h2>Список задач</h2>
<ul>
    {% for task in tasks %}
    <li>
        <form method="POST" action="{% url 'toggle_task' task.id %}">
            {% csrf_token %}
            <br>
            {% if task.completed %}
                ✅ {{ task.description }}
            {% else %}
                ⏰ {{ task.description }}
            {% endif %}
            {% if task.deadline %}
            <br><strong>Deadline:</strong> {{ task.deadline|date:"Y-m-d H:i" }}<br>
            {% endif %}
            <br>
            <button type="submit">
                {% if task.completed %} Зняти виконання {% else %} Позначити як виконане {% endif %}
            </button>
        </form>
    </li>
    
    
    
    {% empty %}
        <li>Немає задач</li>
    {% endfor %}
</ul>
